---
layout: base.njk
title: Bonjour Monde
---
<h1 class="text-rouge border-2 border-rouge"> Lena</h1>
{%- from "macros.njk" import component -%}

<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Title Component" }) }}
    </div>
</div>